elusa.zip
README.license
usa_hate_discourse.zip
usa_hate_discourse/classified_users.jsonl
usa_hate_discourse/relationships.jsonl
usa_hate_discourse/seed_users.jsonl
usa_hate_discourse/tweets.jsonl
elusa/collected_timeline_users.jsonl
elusa/data_analysis_hash_tags.jsonl
elusa/features_set_13_05.jsonl
elusa/features_set_final.jsonl
elusa/network.jsonl
elusa/news.jsonl
elusa/timelines_eq_200_tweets.jsonl
elusa/tweets.jsonl
elusa/users.jsonl
elusa/vote_intention_surveys.jsonl
elusa/data_analisys_hash_tags.jsonl
tweets_2016_trimmed.jsonl
tweets_2020_trimmed.jsonl
2020_mention.jsonl
2020_mention2.jsonl
trump_2020.txt
biden_2020.txt
counter.txt
2016_tweets.txt
2016_chars.txt
2016_words.txt
elusa-master/
usa_hate_discourse/count.txt
usa_hate_discourse/trump_extensive_2020.txt
usa_hate_discourse/2020_extensive_mention.jsonl
usa_hate_discourse/biden_extensive_2020.txt
count.txt
usa_hate_discourse/2020_extensive_mention.jsonl
usa_hate_discourse/2020_extensive_mention_clustered.jsonl
usa_hate_discourse/2020_sentiment_analysis.jsonl
2020_sentiment_analysis.jsonl
2020_sentiment_analysis2.jsonl
usa_hate_discourse/2020_extensive_mention_clustered2.jsonl
usa_hate_discourse/2020_mention_clustered.jsonl
elusa/week.jsonl
elusa/week.zip