elusa.zip
README.license
usa_hate_discourse.zip
usa_hate_discourse/classified_users.jsonl
usa_hate_discourse/relationships.jsonl
usa_hate_discourse/seed_users.jsonl
usa_hate_discourse/tweets.jsonl
elusa/collected_timeline_users.jsonl
elusa/data_analysis_hash_tags.jsonl
elusa/features_set_13_05.jsonl
elusa/features_set_final.jsonl
elusa/network.jsonl
elusa/news.jsonl
elusa/timelines_eq_200_tweets.jsonl
elusa/tweets.jsonl
elusa/users.jsonl
elusa/vote_intention_surveys.jsonl
elusa/data_analisys_hash_tags.jsonl
tweets_2016_trimmed.jsonl
tweets_2020_trimmed.jsonl
2020_mention.jsonl
2020_mention2.jsonl
trump_2020.txt
biden_2020.txt
counter.txt
2016_tweets.txt
2016_chars.txt
2016_words.txt
elusa-master/
usa_hate_discourse/count.txt
usa_hate_discourse/trump_extensive_2020.txt
usa_hate_discourse/2020_extensive_mention.jsonl
usa_hate_discourse/biden_extensive_2020.txt
count.txt
usa_hate_discourse/2020_extensive_mention.jsonl
usa_hate_discourse/2020_extensive_mention_clustered.jsonl
usa_hate_discourse/2020_sentiment_analysis.jsonl
2020_sentiment_analysis.jsonl
2020_sentiment_analysis2.jsonl
usa_hate_discourse/2020_extensive_mention_clustered2.jsonl
usa_hate_discourse/2020_mention_clustered.jsonl
elusa/week.jsonl
elusa/week.zip
elusa/week2.jsonl
elusa/week3.jsonl
elusa/week_model
elusa/week_modelcopy
elusa/week1p1_model
elusa/week1p1.jsonl
elusa/week1p2_model
elusa/week1p2.jsonl
elusa/week1p3.jsonl
elusa/week1p3_model
elusa/week1.zip
elusa/counter2.txt
elusa/week_model2copy
elusa/sample.jsonl
elusa/week1d1.jsonl
elusa/week1d2.jsonl
elusa/week1d3.jsonl
elusa/week1d4.jsonl
elusa/week1d5.jsonl
elusa/week1d6.jsonl
elusa/week1d7.jsonl
dates_count.csv
elusa/week2d1.jsonl
elusa/week2d2.jsonl
elusa/week2d3.jsonl
elusa/week2d4.jsonl
elusa/week2d5.jsonl
elusa/week2d6.jsonl
elusa/week2d7.jsonl
elusa/week3d1.jsonl
elusa/week3d2.jsonl
elusa/week3d3.jsonl
elusa/week3d4.jsonl
elusa/week3d5.jsonl
elusa/week3d6.jsonl
elusa/week3d7.jsonl
elusa/week2_model
elusa/week3_model
elusa/week2copy.csv
elusa/week3_modelcopy